In [3]:
#Binary operations on pandas
#1. Arithmetic Operations on Series

import pandas as pd
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Adding the two Series
result = s1 + s2
print(result)

a    11
b    22
c    33
dtype: int64

In [4]:
#2. Comparison Operations on Series
import pandas as pd
s1 = pd.Series([10, 20, 30])
s2 = pd.Series([10, 25, 30])

# Comparing the two Series
result = s1 == s2
print(result)

0     True
1    False
2     True
dtype: bool

In [5]:
#2.Comparison operations in pandas dataframe

import pandas as pd
df1 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
df2 = pd.DataFrame({'A': [5, 15, 35], 'B': [30, 60, 55]})

# Checking if elements of df1 are greater than df2
result = df1 > df2
print(result)

       A      B
0   True   True
1   True  False
2  False   True

In [6]:
#Handling Missing Data in Binary Operations
df1=pd.DataFrame({"A":[1,2,None],"B":[3,None,6]})
df2=pd.DataFrame({"A":[5,None,None],"B":[3,1,6]})
result=df1+df2
result

     A     B
0  6.0   6.0
1  NaN   NaN
2  NaN  12.0

In [11]:
data=pd.Series([1,2,3,5,7],index=['a','b','c','d','e'])
print("Original Index:", data.index)
data.index = ['v','w', 'x', 'y', 'z']
print("Modified Series:\n", data)

Original Index: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Modified Series:
 v    1
w    2
x    3
y    5
z    7
dtype: int64

In [12]:
# Assigning Duplicate Index Labels
import pandas as pd
series = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])
series.index = ['City 1', 'City 1', 'City 3', 'City 3'] 
print(series)

City 1    New York
City 1     Chicago
City 3     Toronto
City 3      Lisbon
dtype: object

In [14]:
Date = ['1/1/2018', '2/1/2018', '3/1/2018', '4/1/2018']
idx_name = ['Day 1', 'Day 2', 'Day 3', 'Day 4']
sr = pd.Series(data = Date,
              index = idx_name
              )
sr.reset_index(drop=True, inplace=True)
print(sr)

0    1/1/2018
1    2/1/2018
2    3/1/2018
3    4/1/2018
dtype: object

In [17]:
import numpy as np
data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data, index=[100, 101, 102, 103, 104])
print(s)

100    a
101    b
102    c
103    d
104    e
dtype: object