In [ ]:
import pandas as pd

In [8]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\jesny\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
import pandas as pd
a= ['My', 'Name', 'Jesny', 'Liza', 
            'Jaison']
df = pd.DataFrame(a)
print(df)

        0
0      My
1    Name
2   Jesny
3    Liza
4  Jaison

In [16]:
lst={'Name':["Jesny","Nikhil","Rehna","Anu"],
     'Qualification':["B.TECH","MBA","BCA","Diploma"],
'CGPA':[7.2,7.4,8.0,7.2]}
df = pd.DataFrame(lst)
print(df)

     Name Qualification  CGPA
0   Jesny        B.TECH   7.2
1  Nikhil           MBA   7.4
2   Rehna           BCA   8.0
3     Anu       Diploma   7.2

In [17]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)

In [18]:
lst={'Name':["Jesny","Nikhil","Rehna","Anu"],
'Qualification':["B.TECH","MBA","BCA","Diploma"],
'CGPA':[7.2,7.4,8.0,7.2]}
df = pd.DataFrame(lst)
df_name=df.set_index('Name')
df_name

       Qualification  CGPA
Name
Jesny         B.TECH   7.2
Nikhil           MBA   7.4
Rehna            BCA   8.0
Anu          Diploma   7.2

In [19]:
df_with_index = df.set_index('Name')

row = df_with_index.loc['Nikhil']
print(row)

Qualification    MBA
CGPA             7.4
Name: Nikhil, dtype: object

In [21]:
df_with_index = df.set_index('Name')
print(df_with_index)
df_reset = df_with_index.reset_index()
print(df_reset)

       Qualification  CGPA
Name
Jesny         B.TECH   7.2
Nikhil           MBA   7.4
Rehna            BCA   8.0
Anu          Diploma   7.2
     Name Qualification  CGPA
0   Jesny        B.TECH   7.2
1  Nikhil           MBA   7.4
2   Rehna           BCA   8.0
3     Anu       Diploma   7.2

In [27]:
lst={'Name':["Jesny","Nikhil","Rehna","Anu"],
     'Qualification':["B.TECH","MBA","BCA","Diploma"],
'CGPA':[7.2,7.4,8.0,7.2]}
df = pd.DataFrame(lst)
print(df)
lst_CGPA=df['CGPA']
lst_CGPA

     Name Qualification  CGPA
0   Jesny        B.TECH   7.2
1  Nikhil           MBA   7.4
2   Rehna           BCA   8.0
3     Anu       Diploma   7.2

0    7.2
1    7.4
2    8.0
3    7.2
Name: CGPA, dtype: float64

In [29]:
lst={'Name':["Jesny","Nikhil","Amal","Anu"],
     'Qualification':["B.TECH","MBA","BCA","Diploma"],
'CGPA':[7.2,7.4,8.0,7.2]}
df = pd.DataFrame(lst)
second_row=df.iloc[2]
print(second_row)

Name             Amal
Qualification     BCA
CGPA              8.0
Name: 2, dtype: object

In [31]:
# taking df as input
subset = df.loc[1:2, ['Name', 'Qualification']]
print(subset)

     Name Qualification
1  Nikhil           MBA
2    Amal           BCA

In [33]:
lst={'Name':["Jesny","Nikhil","Rehna","Anu"],
     'Qualification':["B.TECH","MBA","BCA","Diploma"],
'CGPA':[7.2,7.4,6.0,7.2]}
df = pd.DataFrame(lst)
filtered_data = df[df['CGPA'] > 7.0]
print(filtered_data)

     Name Qualification  CGPA
0   Jesny        B.TECH   7.2
1  Nikhil           MBA   7.4
3     Anu       Diploma   7.2

In [35]:
salary_at_index_2 = df.at[2, 'Qualification']
print(salary_at_index_2)

BCA

In [42]:
# print the chosen variable the table 2 represent the row and 1 represent the coloumn
slic=df.iat[2,1]
print(slic)

BCA

In [46]:
emp_list=[["Jesny",25,25000,"SS03"],
          ["Sariga",25,27000,"SS01"],
          ["Akhil",29,32000,"SS05"],
          ["Arathy",30,19500,"SS01"],
          ["Bijith",32,45000,"SS09"],
          ["Alfred",28,35000,"SS02"],
          ["Anupama",25,19500,"SS04"]]
df = pd.DataFrame(emp_list, columns=['Name', 'Age', 'Salary','EmployeeID'])
print(df)

      Name  Age  Salary EmployeeID
0    Jesny   25   25000       SS03
1   Sariga   25   27000       SS01
2    Akhil   29   32000       SS05
3   Arathy   30   19500       SS01
4   Bijith   32   45000       SS09
5   Alfred   28   35000       SS02
6  Anupama   25   19500       SS04