In [6]:
#creating series
#1.creating empty series

import pandas as pd

sr = pd.Series()

print(sr)

Series([], dtype: object)

In [5]:
import pandas as pd
import numpy as np
data=np.array(['a','e','i','o','u'])
sr=pd.Series(data)
sr

0    a
1    e
2    i
3    o
4    u
dtype: object

In [7]:
#3.Creating a Series from a Dictionary
dict={"Name":"Jesny",'Age':"25",'Course':"AI"}
ser = pd.Series(dict)
print(ser)

Name      Jesny
Age          25
Course       AI
dtype: object

In [10]:
ser = pd.Series(np.linspace(1, 12, 5))
print(ser)

0     1.00
1     3.75
2     6.50
3     9.25
4    12.00
dtype: float64

In [3]:
#5.Creating a Series Using range()
ser = pd.Series(range(5, 15))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [7]:
data = np.array(['j', 'e', 's', 'n', 'y', 'l',
                 'i', 'z', 'a', 'J', 'a', 'i', 's','o','n'])
ser = pd.Series(data)
# retrieve the first element
print(ser[0])
# retrieve the sixth element
print(ser[6])

j
i

In [11]:
ser = pd.Series(data)
# retrieve the first element
print(ser[:5])
print(ser[2:5])
print(ser[6:9])
print(ser[6:])

0    j
1    e
2    s
3    n
4    y
dtype: object
2    s
3    n
4    y
dtype: object
6    i
7    z
8    a
dtype: object
6     i
7     z
8     a
9     J
10    a
11    i
12    s
13    o
14    n
dtype: object

In [2]:
#3.Accessing Last 10 Elements of Series
import pandas as pd
import numpy as np

# creating simple array
data = np.array(['j', 'e', 's', 'n', 'y', 'l',
                 'i', 'z', 'a', 'J', 'a', 'i', 's','o','n'])
ser = pd.Series(data)

# retrieve the first element
print(ser[-10:])

5     l
6     i
7     z
8     a
9     J
10    a
11    i
12    s
13    o
14    n
dtype: object

In [1]:
#3.Accessing First 5 Elements of Series in .csv File
import pandas as pd

# making data frame
df = pd.read_csv("test.csv")

ser = pd.Series(df['Age'])
ser.head(5)

0    25
1    55
2    26
3    60
4    29
Name: Age, dtype: int64

In [16]:
#4.Accessing a Single Element Using index Label
# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f',
                 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data, index=[10, 11, 12, 13, 14,
                             15, 16, 17, 18, 19, 20, 21, 22])
# accessing a element using index element
print(ser)
print(ser[16])
print(ser[[10, 11, 12, 13, 14]])

10    g
11    e
12    e
13    k
14    s
15    f
16    o
17    r
18    g
19    e
20    e
21    k
22    s
dtype: object
o
10    g
11    e
12    e
13    k
14    s
dtype: object

In [20]:
ser = pd.Series(np.arange(3, 9), index=['a', 'b', 'c', 'd', 'e', 'f'])
print(ser[['a', 'f']])

a    3
f    8
dtype: int64